<div class="form-container">
  <%= form_with(model: news_post) do |form| %>
    <% if news_post.errors.any? %>
      <div class="error-container">
        <h2><%= pluralize(news_post.errors.count, "error") %> prohibited this news_post from being saved:</h2>
  
        <ul>
          <% news_post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div>
      <%= form.label :subject, style: "display: block" %>
      <%= form.text_field :subject %>
    </div>
  
    <div>
      <%= form.label :content, style: "display: block" %>
      <%= form.text_area :content %>
    </div>
  
    <div>
      <%= form.submit %>
    </div>
  <% end %>
</div>
