<h1>Pages <%= "\u{1F3D7}" %></h1>

<% if current_user.admin? %>
  <p><%= link_to "New page", new_cms_page_path, class: "new-post-link" %></p>
<%end%>

<div id="cms_pages">
  <% @cms_pages.each do |cms_page| %>
    <div id="<%= dom_id cms_page %>" class="post">
      <p>
        <strong>Title:</strong>
        <%= cms_page.title %>
      </p>
    
      <p>
        <strong>Content:</strong>
        <%= strip_tags(cms_page.content)[0..100] %> ...
      </p>
    </div>
    <p>
      <%= link_to "Show this page", cms_page, class: "post-link" %>
    </p>
  <% end %>
</div>
